body {
  background-color: #d3e2f1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari and Opera */
      .scrollbar-none::-webkit-scrollbar {
        display: none;
      }

      /* IE and Edge */
      .scrollbar-noner {
        -ms-overflow-style: none;
      }

      /* Firefox */
      .scrollbar-none {
        scrollbar-width: none;
      }