@import "tailwindcss";

:focus {
  outline: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  font-size: 1.5rem !important;
  color: black !important;
  border: 2px solid black !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem !important;
  width: 100% !important;
  background-color: white !important;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none !important;
  border-color: black !important;
  box-shadow: none !important;
}

label {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  color: black !important;
}

